* {
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto;
  }

  .title {
    margin: 10px auto;
    text-align: center;
    font-size: 32px;
  }

  .textarea {
    display: block;
    width: 700px;
    height: 300px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 22px;
  }

  .keyboard {
    width: 700px;
    margin: 0 auto;
    padding: 0 5px 5px 5px;
    background: #00c3ff;
    border: 3px solid #222222;
    border-radius: 5px;
  }

  .row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 5px; 
  }

  .Backspace, .CapsLock, .ShiftLeft, .Enter {
    width: 100px;
  }

  .ShiftRight {
    width: 83px;
  }

  .Tab {
    width: 50px;
  }

  .Space {
    width: 330px;
  }

  .button {
    min-width: 40px;
    height: 40px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(0, 255, 242);
    box-shadow: 5px 5px 2px rgba(0,0,0,0.3);
  }

  .button:hover {
    background-color: rgb(255, 146, 21);
    transform: scale(1.01);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  }

  .button:active {
    background-color: rgb(255, 146, 21);
    transform: scale(0.95);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  }

  .button.active {
    background-color: rgb(255, 146, 21);
    transform: scale(0.95);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  }

  .description {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
  }
  
  .language {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
  }
