* {
    box-sizing: border-box;
  }

  .container {
    margin: 0 auto;
  }

  .title {
    margin: 10px auto;
    text-align: center;
    font-size: 32px;
  }

  .textarea {
    display: block;
    width: 800px;
    height: 300px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 22px;
  }

  .keyboard {
    width: 860px;
    margin: 0 auto;
    padding: 5px;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
  }

  .row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 5px; 
  }

  .Backspace, .CapsLock, .Shift, .Enter {
    width: 100px;
  }

  .Tab {
    width: 60px;
  }

  .Space {
    width: 380px;
  }

  .button {
    min-width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    background-color: aqua;
  }

  .button:active {
    background-color: aquamarine;
  }

  .button.active {
    background-color: aquamarine;
  }

  .description {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
  }
  
  .language {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
  }
